.pio
.clang_complete
.gcc-flags.json
Instruments/Nobby/.DS_Store
Instruments/Nobby/Nobby/.DS_Store
Instruments/Nobby/patch_editor_abs/.DS_Store
Instruments/.DS_Store
Instruments/.DS_Store
ESP32/.DS_Store
ESP32/.DS_Store
Instruments/.DS_Store
Instruments/Big Nobby/pd/.DS_Store
Instruments/Big Nobby/pd/patch_editor_abs/.DS_Store
Instruments/Big Nobby/pd/samples/.DS_Store
Instruments/.DS_Store
Instruments/ChesterWeki/.DS_Store
Instruments/ChesterWeki/patch_editor_abs/.DS_Store
Instruments/.DS_Store
Instruments/.DS_Store
Instruments/Blank/.DS_Store
Class/Assignments/.DS_Store
Class/Assignments/.DS_Store
Class/Labs/.DS_Store
Class/Research/.DS_Store
Instruments/.DS_Store
Instruments/Touche/pd/.DS_Store
Class/Assignments/.DS_Store
Class/Assignments/.DS_Store
Class/Labs/.DS_Store
Class/Research/.DS_Store
